* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --font-sen: "Sen", serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", serif;
}

/* ======phan common====== */

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

a {
  text-decoration: none;
}

.btn {
  width: 144px;
  height: 50px;
  border-radius: 24.5px;
  background: #171100;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  border: none;
}

.btn:hover {
  opacity: 0.85;
  cursor: pointer;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-sen);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.heading-lv3 {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
/* =========phan hero======== */

.hero {
  background: #fffcf4;
}
.header .main-content {
  padding-top: 48px;
}

.header.fixed {
  position: sticky;
  top: -30px;
  z-index: 1;
}
.hero .menu {
  display: flex;
  align-items: center;
}

.hero .menu .logo {
  width: 85px;
  height: 34px;
}
.hero .menu .nav {
  margin-left: auto;
  margin-right: 70px;
}

.hero .menu .nav ul {
  display: flex;
  gap: 42px;
}

.hero .menu .nav a {
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75;
}

.hero .menu .nav a:hover {
  text-shadow: 1px 0 0 #171100;
  color: black;
}

/* =============phan hero============= */
.hero-main {
  background: #fffcf4;
}

.hero-main .main-content {
  display: flex;
  justify-content: space-between;
  padding-top: 76px;
  padding-bottom: 64px;
}

/* =====hero left===== */

/* =====hero right===== */

.hero-main .hero-right {
  width: 41%;
  max-width: 470px;
}

.hero-main .hero-left {
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
}

.hero-left .course-list {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);

  display: flex;
  width: 270px;
  flex-direction: column;
  gap: 14px;
  padding: 24px 0 24px 24px;
  position: absolute;
  bottom: 48px;
  left: 300px;
}

.hero-left .course-item {
  display: flex;
  align-items: center;
  /* gap: 22px; */
}

.hero-left .course-item .icon {
  width: 48px;
  height: 48px;
  margin-left: 24px;
  margin-right: 16px;
  border-radius: 999px;
}

.hero-left .course-item .icon1 {
  background: #fff9e8;
}

.hero-left .course-item .icon2 {
  background: #fcefff;
}
.hero-left .course-item .icon3 {
  background: #ebeaff;
}
.course-list .info .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

/* ========hero right========= */

.hero-right .heading-lv1 {
  padding-top: 46px;
  color: #171100;
  font-family: var(--font-sen);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero-right .desc {
  margin-top: 28px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero-right .cta-block {
  display: flex;
  margin-top: 38px;
}

.hero-right .cta-block .btn-cta {
  background: var(--primary-color);
}

.hero-right .cta-block .watch-video {
  display: flex;
  margin-left: 28px;
  align-items: center;
}

.hero-right .cta-block .watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero-right .cta-block .watch-video .heading-lv3 {
  margin-left: 14px;
}

.cta-block .recent .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero-right .recent .number {
  display: inline-flex;
}

.hero-right .recent strong {
  color: #171100;
  font-family: var(--font-sen);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  margin-right: 15px;
}

.hero-right .recent .number .desc:first-child {
  margin-right: 28px;
}

/* =========popular======== */

.popular .main-content {
  padding-top: 200px;
  padding-bottom: 200px;
}
.popular-top {
  position: relative;
}

.popular-top .heading-lv2 {
  color: #171100;
  font-family: var(--font-sen);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.popular-top .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 16px;
  width: 458px;
}

.popular-top .change-list {
  position: absolute;
  right: 0;
  top: 42px;
}

.popular-top .change-list .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffb900;
}

.popular-top .change-list .icon1 {
  background-color: var(--primary-color);
  border: 2px solid #fff;
}

.popular .course-list {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  overflow: hidden;
}

.course-list .course-item .thumb {
  border-radius: 12px 12px 0 0;
  max-width: 100%;
  object-fit: cover;
}

.course-list .course-item {
  margin-top: 55px;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  flex-shrink: 0;
  max-width: calc(33.33% - 13px);
}

.course-list .course-item:hover {
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course-list .course-item .thumb-desc {
  margin: 0 22px 0 22px;
}

.course-list .course-item .head {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.course-list .course-item .rating {
  display: flex;
  justify-content: center;
  margin-right: 22px;
}

.course-list .course-item .rate {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75;
}

.course-item .desc {
  margin-top: 7px;
  max-width: 326px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.course-list .course-item .cta-block {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

/* =======feedback======== */

.feedback {
  background: #2e2100;
}

.feedback .main-content {
  display: flex;
  overflow: hidden;
}

.feedback .main-content .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 96px;
  flex-shrink: 0;
  width: 100%;
}

.feedback .fb-left .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback .fb-left .heading-ava {
  color: #f7f7f7;
  font-family: var(--font-sen);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
  margin-top: 18px;
}

.feedback .fb-left .desc {
  color: #bfbcb2;
  font-size: 14px;
  line-height: 1.85;
  margin-top: 4px;
  width: 159px;
}

.fb-left .dots span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  margin-top: 28px;
}

.fb-left .dots span:hover {
  cursor: pointer;
}
.fb-left .dots span.active {
  background: #ffb900;
  cursor: default;
}

.feedback .fb-right {
  max-width: 740px;
}

.feedback .fb-right .desc {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}

/* =======phan features========== */

.features .main-content {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features .feature-left {
  display: flex;
  gap: 30px;
}

.features .feature-left .img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .feature-left .img.lower {
  margin-top: 34px;
}

.features .feature-right {
  max-width: 41%;
}

.features .feature-right .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}

.features .feature-right .btn {
  margin-top: 32px;
  background-color: var(--primary-color);
}

.features.feat2 .main-content {
  flex-direction: row-reverse;
}

.features.feat2 .main-content .feature-left .img {
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
}

.features.feat2 .main-content .feature-right {
  max-width: 49%;
}

/* ============blog============ */

.blogs {
  margin-top: 200px;
  background-color: #fffcf4;
}

.blogs .main-content {
  padding-top: 96px;
  padding-bottom: 96px;
}

.blogs .blog-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogs .blog-top .desc {
  text-align: center;
  margin-top: 16px;
  width: 448px;
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75;
}

.blogs .blog-list {
  display: flex;
  margin-top: 55px;
  gap: 20px;
}

.blog-list .blog-item {
  max-width: calc(100% - 20px);
  border-radius: 16px;
  background: #fff;
}

.blog-list .blog-item:hover {
  cursor: pointer;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blogs .blog-list .img {
  width: 100%;
  height: 250px;
  border-radius: 16px;
  object-fit: cover;
}

.blogs .blog-list span {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
  padding-right: 27px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e2dfda;
}

.blogs .blog-list span::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
  background: var(--primary-color);
}

.blogs .blog-item .heading-lv3 {
  margin-left: 20px;
  margin-top: 12px;
}

.blogs .blog-item .btn {
  margin-top: 12px;
  margin-left: 20px;
  margin-bottom: 28px;
  background-color: var(--primary-color);
}

.blogs .dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
}

.blogs .dots .dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #5f5b53;
  cursor: pointer;
}

.blogs .dots .dot.active {
  background: var(--primary-color);
  cursor: default;
}

/* =========phan footer======== */

.footer {
  background: #2e2100;
}

.footer .main-content {
  padding-top: 96px;
}

.footer .main-content .top {
  display: flex;
}

.footer .heading-lv3 {
  color: #fff;
}

.footer .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.top .block-foot {
  width: 23%;
}

.top .block-foot:first-child {
  max-width: 22%;
  margin-right: auto;
}

.top .block-foot:first-child .desc {
  margin-top: 18px;
}

.block-foot .icons {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.footer .block-foot .heading-lv3 {
  display: inline-block;
  padding-right: 63px;
  padding-bottom: 14px;
  border-bottom: 1px solid #59554b;
}

.footer .block-foot .desc1 {
  padding-top: 28px;
}

.footer .block-foot .desc {
  margin-top: 12px;
}

.footer .block-foot strong {
  color: #fff;
}

.footer .main-content .top {
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}

.footer .copyright p {
  text-align: center;
  color: #807d74;
  font-size: 1.4rem;
  line-height: 1.86;
  padding: 28px 0;
}
